{{ if or ( .Paginator.HasPrev ) ( .Paginator.HasNext ) }}
    {{ $toNewPostsMessage := i18n "toNewPosts" }}
    {{ $toOldPostsMessage := i18n "toOldPosts" }}
    <div class="pagination">
    	<div class="pagination-item {{ if not .Paginator.HasNext }}disabled{{ end }}" style="float:left;">
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}">&#8592; Older Posts</a>
            {{ end }}
        </div>
        <div class="pagination-item {{ if not .Paginator.HasPrev }}disabled{{ end }}" style="float:right;">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}">Newer Posts &#8594;</a>
            {{ end }}
        </div>
    </div>
    <div style="clear:both;"></div>
{{ end }}
